.tooltip {
  position: relative;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: rgb(8, 73, 159);
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  white-space: nowrap;
}
  