/* Adjust the content padding if necessary */
.custom-checkbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Space between each checkbox */
}

.custom-checkbox label {
  display: block;
  margin-bottom: 5px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 400px; /* Align items to the top of the container */
}

.chart {
  flex: 1; /* Takes up half of the container width */
  padding-left: 80px; /* Add padding as needed */
}

.checkbox-container {
  flex: 1; /* Takes up half of the container width */
  display: flex;
  flex-direction: column;
  padding-left: 100px; /* Add padding as needed */
  text-align: right; /* Align checkboxes to the right within their container */
  align-items:self-start;
}

/* In your CSS file */
.red-text {
  color: #FF0000;
}

.white-text {
  color: #008000;
}
