.welcome_text {
    font-family: 'Dancing Script', 'Open Sans', sans-serif;
    font-size: 300%;
    color: black;
}

.about_text {
    font-family: 'Dancing Script', 'Open Sans', sans-serif;
    font-size: 200%;
    color: black;
}