
.correlogram-chart-title {
  font-family: 'Dancing Script', 'Open Sans', sans-serif;
  text-align: center;
  font-size: 300%;
  color: black;
  font: bold;
}

.correlogram-chart-conclusions {
  font-family: 'Dancing Script', 'Open Sans', sans-serif;
  text-align: center;
  font-size: 200%;
  color: black;
  font: bold;
}

.correlogram-conclusions {
  text-align: center;
  font-size: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

.correlogram-dropdown-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

  .correlogram-custom-dropdown {
  width: 250px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;
}
  .correlogram-dropdown {
  width: 100%;
}

  .correlogram-dropdown label {
  display: inline-block;
  margin-right: 10px;
}

.legend {
  color: black;
}